<div class="container">
    <div class="row">
      <div class="col col-example " id="centro"><h2 >Más grandes y
        <span class="rojo">más baratos!</span> </h2>
        <p class="gil">Monumental Forma Sport dispone de 9 mega centros del deporte en Valencia con más de 18000 m2 de instalaciones, se imparten más de 600 clases dirigidas a la semana por profesionales del fitness. Dispone de 18 salas para actividades dirigidas y más 600 máquinas de entrenamiento:

            Nuestras completas instalaciones se componen de variedad de salas independientes o comunes:
        </p>
        <ol>
            <li> <p>Salas de Máquinas de Cardio: Cintas de correr, elípticas, bicis estáticas.</p> </li>
            <li> <p>Salas de Ciclo Indoor:  Sala de ciclismo con capacidad para 40 personas, actividad dirigida por un instructor o virtual.</p> </li>
            <li> <p>Salas de Actividades: Sala de actividades dirigidas con capacidad para 60/80 personas y de gran variedad de clases.</p> </li>
            <li> <p>Salas de Fitness: Zona con diversidad de máquinas de acondicionamiento muscular.</p> </li>
            <li> <p>Salas de Musculación: Circuito de entrenamiento funcional, zona de peso libre y jaulas multifunción.</p> </li>
            <li> <p>Zonas de Vestuarios: Taquillas gratuitas y duchas.</p> </li>
        </ol>
        <p>Nuestras salas de actividades permiten la realización de múltiples clases deportivas entre las que destacan: Cardio, Musculación, Fitness, Aeróbic, Step, Pilates, BodyPump, Full Contact, Body Balance y Yoga, entre muchas otras, no dudes en venir a probarlas ¡pídenos tu invitación!.</p>
    </div>
      <div class="col col-example" id="centro">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207" allowfullscreen></iframe>
        </div>
      </div>
      <div class="w-100"></div>
  </div>