<div class="container">
    <div class="row">
        <div class="col-sm" id="pip">
            <div class="act">
                <img src="../../../assets/img/gym9.jpg" alt="">
                <h3 class="text-danger">STRONG NATION</h3>
                <p>Sistema de entrenamiento en el que se trabaja el movimiento de grandes grupos musculares. Basado en movimientos funcionales ejecutados a una alta intensidad y constantemente variados. Es efectivo para estilizar la figura y mejora la fuerza, resistencia, flexibilidad y equilibrio.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym10.jpg" alt="">
                <h3 class="text-danger animated bounce infinite">BODY PUMP</h3>
                <p>Programa de entrenamiento de Les Mills en el que a través de diez temas musicales diferentes se trabajan los grandes grupos musculares. Primero calentamiento general, ocho temas para el trabajo de pectoral, piernas, espalda, brazos y abdomen y terminar con los estiramientos.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym11.jpg" alt="">
                <h3 class="text-danger">CICLO INDOOR</h3>
                <p>Actividad aeróbica de alta intensidad sobre bici estática, en la que se pedalea a un ritmo determinado, trabajando la fuerza, resistencia y velocidad, además del sistema cardiovascular y tono muscular, lo que ayuda a reducir el estrés y aumentar la capacidad pulmonar entre otras..</p>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym12.jpg" alt="">
                <h3 class="text-danger">BODY PUMP</h3>
                <p>Programa de entrenamiento de Les Mills en el que a través de diez temas musicales diferentes se trabajan los grandes grupos musculares. Primero calentamiento general, ocho temas para el trabajo de pectoral, piernas, espalda, brazos y abdomen y terminar con los estiramientos.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym13.jpg" alt="">
                <h3 class="text-danger">ZUMBA</h3>
                <p>Disciplina deportiva que se imparte en clases dirigidas en la que se realizan ejercicios aeróbicos al ritmo de música latina (merengue, samba, reggaeton, cumbia y salsa) con la finalidad de perder peso de forma divertida y mejorar el estado de ánimo.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym14.jpg" alt="">
                <h3 class="text-danger">AEROBOX</h3>
                <p>Combinación de Kickboxing y Aeróbic al ritmo de la música. Una actividad que permite desarrollar la coordinación y la fuerza, tonifica los músculos mejorando la resistencia física y el sistema cardiovascular. Una forma perfecta de eliminar las tensiones</p>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym15.jpg" alt="">
                <h3 class="text-danger">INTENSIVE TRAINING</h3>
                <p>Son clases dinámicas, divertidas y eficaces. La finalidad es endurecer y tonificar todos los músculos del cuerpo, mediante ejercicios fáciles y seguros, siguiendo el ritmo de la música. Evita la flacidez, facilita la reducción de grasas, ayuda a disminuir el colesterol y triglicéridos, equilibra el tono muscular.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym16.jpg" alt="">
                <h3 class="text-danger">PILATES</h3>
                <p>Método de acondicionamiento físico muy completo donde se trabaja el cuerpo como un todo, desde la musculatura más profunda hasta la más periférica, y en la que intervienen tanto la mente como el cuerpo para trabajar el “centro de fuerza“, mejorando el sistema sanguíneo y linfático</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="act">
                <img src="../../../assets/img/gym17.jpg" alt="">
                <h3 class="text-danger">GAP</h3>
                <p>Gimnasia de mantenimiento que se basa en el entrenamiento de Glúteos, Abdominales y Piernas para ponerlos firmes y endurecidos. Es un entrenamiento que lucha contra el sedentarismo actual y contra la acumulación de grasas en determinadas partes del cuerpo de cintura para abajo.</p>
            </div>
        </div>
    </div>
</div>