<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="titulo_visita">VISITA NUESTRA INSTALACIONES</h2>
            <img src="../../../assets/img/gym5.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <h2 class="titulo_cita">PIDE CITA</h2>
            <div class="col text-center">
                <input type="text" ngbDatepicker #d="ngbDatepicker" />
                <button (click)="d.toggle()">Toggle</button>
            </div>
            
        </div>
    </div>
</div>