<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>

        <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/img/gym1.jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h1 class="h1-responsive">SPORTS LARAVEL</h1>
        </div>

    </mdb-carousel-item>
</mdb-carousel>

<div class="card-deck">
    <div class="card">
      <img src="../../../assets/img/gym6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">CENTROS SPORTSLARAVEL</h5>
        <p class="card-text">Encuentra el gimnasio más cerca de ti entre los 9 centros SPORTSLARAVEL que tenemos disponibles para nuestros socios en Valencia.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/gym7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">VER PRECIOS</h5>
        <p class="card-text">Tenemos las mejores ofertas de inscripción y los centros más grandes. Ponerse en forma está más al alcance de tu mano que nunca.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/gym8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">INSCRIBIRME</h5>
        <p class="card-text">Realiza tu inscripción, recibirás un email con toda la información de tu cuota para que puedas validarla en tu centro preferido.</p>
      </div>
    </div>
  </div>

 