.total {
    width: 50%;
    margin: 0 auto;
    
}
.titulo {
    border-bottom: 1px solid #FF3547;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2em auto;
    background-color: #FF3547;
    border-radius: 4px;
}

.subtitulo {
    text-align: center;
    color: #ffffff;
    width: 33%;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    padding: .3em;
}

.main {
    border-bottom: 1px solid #FF3547;
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
    width: 100%;
    text-align: center;
}

.sub_main {
    width: 33%;
}
