<div class="total">
    <div class="titulo">
        <h4 class="subtitulo">TIPO DE CITA</h4>
        <h4 class="subtitulo">FECHA DE CITA</h4>
        <h4 class="subtitulo">CLIENTE</h4>
    </div>
    
    <div class="citas_molde" *ngFor="let appointment of ViewAppointments">
        <div class="main">
            <p class="sub_main">{{appointment.type}}</p>
            <p class="sub_main">{{appointment.appointmentDate}}</p>
            <p class="sub_main">{{appointment.user.name}}</p>
        </div>
    </div>
</div>
